# Flask core packages
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
WTForms

# Database / ORM
SQLAlchemy
pytz

# Utilities
python-dotenv
click
itsdangerous
Jinja2
Werkzeug
MarkupSafe
requests
bcrypt
email_validator

# Deployment
gunicorn
